@import "../core/reset.scss";
@import "../core/variables.scss";
@import "../core/mixins.scss";

.characterSection {
  height: 68vh;
  height: 100%;
  background-color: black;
  box-shadow: -1px 1px 30px $greenCards;
}
.character {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: $pageColor;
  color: $letterColor;

  &__DetailItem {
    font-family: $font-roboto;
    display: flex;
    background-color: $blue;
    padding: 20px;
    border-radius: 10px;
  }
}
.charInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px 0px 20px;
  font-size: 17px;
  &-h3 {
    font-size: 30px;
    padding-bottom: 5px;
  }
}
.goBack {
  font-family: $font-roboto;
  display: flex;
  justify-content: center;
  background-color: $pageColor;
  padding: 10px;

  &-icon {
    text-decoration: none;
    color: $blue;
  }
  &-icon:hover {
    transform: scale(1.2);
    transition: all 500ms;
    color: $green;
  }
}
