@import "../core/reset.scss";
@import "../core/variables.scss";
@import "../core/mixins.scss";

.form {
  background-color: $pageColor;
  display: flex;
  justify-content: center;
  box-shadow: -1px 1px 30px $green;
  padding: 10px 10px 10px 10px;
  font-family: $font-roboto;
  color: $letterColor;
}
