@import "../core/reset.scss";
@import "../core/variables.scss";
@import "../core/mixins.scss";
.form {
  &__names {
    &-input {
      margin: 5px 45px 2px 45px;
      width: 150px;
      background-color: $pageColor;
      border-color: $letterColor;
      border-radius: 5px;
      color: $letterColor;
    }
  }
}
